#root{
    display: flex;
    flex-direction: row;
    height: 100vh;

}
body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}